body{
    margin: 0;
    background-image: url("natural-landscape-purple-lake-wallpaper-.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    backdrop-filter: blur(7px);
    background-color: hsl(0, 0%, 100%,0.1);
    width: 100%;
    color:darkblue;
}